<body>
<div class="card-container">
    <div class="card">
        <a href="http://localhost:4200/search">
            <img src="https://img.freepik.com/free-photo/type-entertainment-complex-popular-resort-with-pools-water-parks-turkey-with-more-than-5-million-visitors-year-amara-dolce-vita-luxury-hotel-resort-tekirova-kemer_146671-18728.jpg?size=626&ext=jpg" alt="Room">
            <h3>Search Rooms</h3>
        </a>
    </div>
    <div class="card">
        <a href="http://localhost:4200/view-bookings">
            <img src="https://img.freepik.com/free-photo/beautiful-luxury-outdoor-swimming-pool-hotel-resort_74190-7433.jpg?size=626&ext=jpg" alt="Booking">
            <h3>View Bookings</h3>
        </a>
    </div>
    <div class="card">
        <a href="http://localhost:4200/add-contract">
            <img src="https://img.freepik.com/free-photo/tropical-hotel-holiday-background-resort_1203-4943.jpg?size=626&ext=jpg" alt="Booking">
            <h3>Add New Contract</h3>
        </a>
    </div>
    <div class="card">
        <a href="http://localhost:4200/expired-hotels">
            <img src="https://img.freepik.com/premium-photo/bedroom-with-view-ocean-balcony_865967-311457.jpg?size=626&ext=jpg" alt="Booking">
            <h3>View Expired Contracts</h3>
        </a>
    </div>

    
</div>
</body>
