body{
    background-color: #d0e2fa;
}

.update-contract-container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header h2 {
    font-size: 24px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .col-form-label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .invalid-feedback {
    color: red;
    display: none;
  }
  
  .form-control.is-invalid {
    border-color: red;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  